// BASE [ VARIABLES ] #################################################################################################

// A. MEDIA QUERY BREAKPOINTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. BREAKPOINTS ---------------------------------------

// from 450px down
$ss-dn: 'max-width:450px';

// from 575px down
$xs-dn: 'max-width:575px';

// from 576px up
$xs-up: 'min-width:576px';

// from 767px down
$sm-dn: 'max-width:767px';

// from 768px up
$sm-up: 'min-width:768px';

// from 991px down
$md-dn: 'max-width:991px';

// from 992px up
$md-up: 'min-width:992px';

// from 1023px down
$mdl-dn: 'max-width:1023px';

// from 1024px
$mdl-up: 'min-width:1024px';

// from 1199px down
$lg-dn: 'max-width:1199px';

// from 1200px up
$lg-up: 'min-width:1200px';

// from 1439px down
$xlg-dn: 'max-width:1439px';

// from 1440px up
$xlg-up: 'min-width:1440px';

// from 1919px down
$hd-dn: 'min-width:1919px';

// from 1920px up
$hd-up: 'min-width:1920px';

// from 2559px down
$uhd-dn: 'min-width:2559px';

// from 2560px up
$uhd-up: 'min-width:2560px';

// A.1. END -----------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. SIZES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B.1. PADDING & MARGINS ---------------------------------

$base-xl:   60px;
$base-lg:   45px;
$base-md:   30px;
$base:      15px;
$base-sm:   8px;
$base-xs:   4px;

// B.1. END -----------------------------------------------

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. COLORS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$black:       #000000;
$grey-02:     #2d2323;
$grey:        #4D4D4D;
$white:       #FFFFFF;
$white-03:    rgba(244, 247, 251, 0.3);

// C.2. SITE COLOR CONFIG ---------------------------------

$base-color:    #070b0e;
$default:       #070b0e;
$purple:        #4B2653;
$green:         #4E5616;


// C.2. END -----------------------------------------------

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
